// colors
//greens
$fun-green: #026943;
$skeptic: #c3e6d6;
$paris-white: #c7dcd4;

//oranges
$sea-buckthorn: #f99135;
$crusta: #f8842d;

//grays and blacks
$mine-shaft: #323232;


// VARIABLES
// typography
$color-font-main: $fun-green;
$color-font-secondary: $mine-shaft;

// buttons
$btn-gradient-top: $sea-buckthorn;
$btn-gradient-bottom: $crusta;

// rules
$rule-green: $fun-green;

// global
$color-main-background: $skeptic;

//footer
$color-footer-top-background: $paris-white;
$color-footer-prompt-background: $fun-green;