// Scaffolding styles are declared here. e.g containers, grid
// ------------------------------------------------------------------------------

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	font-family: "mobile";

	@include breakpoint($medium) {
	 	font-family: "tablet";
  }

	@include breakpoint($large) {
		font-family: "desktop";
	}
} 

body {
	background: url('../images/logo.svg'), linear-gradient($color-main-background, white 75%);
	background-repeat: no-repeat;
	background-position: left -45px;
	background-size: 188%;
}

.rates-app {
	&-main-container {
		padding: 0 rem($space-small);
	}

	&-inner-container {
		max-width: 1060px;
		margin: 0 auto;
	}
}

@include breakpoint($medium) {
	body {
		background-position: center -45px;
		background-size: 100%;
	}
} 