// Scaffolding styles are declared here. e.g containers, grid
// ------------------------------------------------------------------------------

html {
	font-family: "mobile";

	@include breakpoint($medium) {
	 	font-family: "tablet";
  }

	@include breakpoint($large) {
		font-family: "desktop";
	}
}

body {
	background: url('../react-app/images/logo.svg'), linear-gradient($color-main-background, white 75%);
	background-repeat: no-repeat;
	background-position: center -45px;
}

.rates-app {
	&-inner-container {
		max-width: 1060px;
		margin: 0 auto;
	}
} 