@import "fonts";

body {
	color: $color-font-main;
	font-family: $font-roboto;
	font-size: rem(18);
	font-weight: $font-med;
	line-height: rem(22);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 rem(15);
	color: $color-font-main;
	font-family: $font-roboto-slab;
	font-weight: $font-bold;
}

h1 {
	font-size: rem(45);
}

h3 {
	font-size: rem(18); //temp??
}

p {}

a {
	color: $color-font-secondary;
	font-weight: $font-med;
	text-decoration: underline;

	&:hover, &:active, &:focus, &:visited {
		color: $color-font-secondary;
		text-decoration: none;
	}
}

ul {
	padding-left: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

@include breakpoint($large) {
	body {
		font-size: rem(20);
	}

	h1 {
		font-size: rem(60);
	}

	h3 {
		font-size: rem(28);
	}
}