.rates-app-footer {
	color: $color-font-secondary;
	font-weight: $font-reg;
	text-align: center;

	&__top {
		padding: rem(35) 0;
		background: $color-footer-top-background;

		.rates-app-inner-container { padding: 0 rem($space-small); }
	}

	&__title {
		margin-bottom: rem(40);
	}

	&__accred-item {
		display: inline-block;
		// max-width: calc(20% - 12px); images are not all same width
		margin-right: 10px;
		line-height: 1;

		&:last-child {margin: 0;}
	}

	&__bottom {
		max-width: 700px;
		margin: 0 auto;
		padding: rem(30) rem($space-small);
		font-size: rem(12);
	}

	&__utilities {
		padding-bottom: 15px;

		&-link {
			padding-right: 15px;
			font-size: rem(11);

			&:last-child { padding: 0; }
		}
	}

	&__contact {
		padding-bottom: 15px;
	}

	&__legal {
		padding-bottom: 15px;
	}

	&__prompt {
		padding: rem(15) rem($space-small);
		color: white;
		background: $color-footer-prompt-background;

		&-text {
			display: inline-block;
			margin: 0;
			font-family: $font-roboto;
			font-size: rem(11);
			font-weight: $font-med;
			vertical-align: middle;
		}

		&-number {
			display: inline-block;
			margin: 0;
			font-family: $font-roboto-slab;
			font-size: rem(17);
			font-weight: $font-bold;
		}
	}
}

@include breakpoint($medium) {
	.rates-app-footer {
		&__top {
			padding: rem(75) 0;
		}

		&__title {
			margin-bottom: rem(70);
			font-size: rem(36);
			line-height: rem(45);
		}

		&__bottom {
			padding: rem(75) 0 rem(66);
			font-size: rem(22);
			line-height: rem(26);
		}

		&__utilities {
			padding-bottom: rem(30);

			&-link {
				font-size: rem(22);
				line-height: rem(26);
			}
		}

		&__contact {
			padding-bottom: 30px;
		}

		&__legal {
			padding-bottom: 30px;
		}

		&__prompt {
			padding: rem(30) rem($space-small) rem(20);

			&-text {
				height: 36px; // match number height
				padding-right: 40px;
				font-size: rem(22);
				vertical-align: middle;
			}
			
			&-number {
				font-size: rem(36);
				line-height: 1;
			}
		}
	}
}

@include breakpoint($large) {
	.rates-app-footer {
		&__top {
			padding: rem(30) 0;
			font-size: rem(18);
		}

		&__title {
			margin-bottom: rem(20);
			font-size: rem(18);
		}

		&__bottom {
			padding: rem(30) 0;
			font-size: rem(12);
			line-height: rem(18);
		}

		&__utilities {
			padding-bottom: rem(24);

			&-link {
				font-size: rem(12);
				line-height: rem(18);
			}
		}

		&__contact {
			padding-bottom: 24px;
		}

		&__legal {
			padding-bottom: 24px;
		}

		&__prompt { display: none; }
	}
}