// Header content styles
// ------------------------------------------------------------------------------

.rates-app-header {
	@include clearfix();
	padding: rem($pad * 1.5) rem($space-small) 0;
	color: $color-font-main;
	text-align: center;

	&__logo {
		margin-bottom: rem($pad * 4.5);
		img { margin: 0 auto; }
	}

	&__prompt {
		display: none;

		&-text {
			margin: 0;
			font-family: $font-roboto;
			font-size: rem(14);
			font-weight: $font-med;
		}

		&-number {
			margin: 0;
			font-family: $font-roboto-slab;
			font-size: rem(24);
			font-weight: $font-bold;
		}
	}
}

@include breakpoint($medium) {
	.rates-app-header {
		padding: rem(38) rem($space-small) 0;
	}
}

@include breakpoint($large) {
	.rates-app-header {
		padding: rem(15) rem($space-small) 0;

		&__logo {
			float: left;
			width: 50%;
			margin-bottom: rem(75);
			text-align: left;
			img { margin: 0; }
		}

		&__prompt {
			display: block;
			float: left;
			width: 50%;
			text-align: right;
			line-height: 1;
		}
	}
}