@mixin btn-base() {
	@include gradient-animation-hover($btn-gradient-bottom, $btn-gradient-top, $btn-gradient-bottom, 0.25s);
	display: inline-block;
	width: 100%;
	max-width: 625px;
	margin: 0 auto;
	padding: 25px 20px;
	font-family: $font-roboto-slab;
	font-size: rem(20);
	font-weight: $font-bold;
	color: white;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $btn-gradient-bottom;
	border-radius: 12px;
	cursor: pointer;

	&:hover, &:focus, &:active, &:visited {
		text-decoration: none;
		color: white;
		border-radius: 12px;
	}

	@include breakpoint($medium) {
		width: auto;
		padding: 25px 45px;
	}
}

a.rates-app__btn,
.rates-app__btn {
	@include btn-base();
}