/*TEMP need to set up sass*/

/*PROGRESS BAR*/
.progress {
	position: relative;
	width: 85%;
	margin: 0 auto 40px;
	background-color: lightgray;
}

.progress__bar {
	height: 10px;
	background-color: gray;
}

.progress__circle {
	position: absolute;
	top: -4.5px;
	width: 18px;
	height: 18px;
	background-color: gray;
	border-radius: 50%;
}

.progress__circle:after {
	content: '';
	position: absolute;
	bottom: -22px;
	left: 50%;
	width: 70px;
	margin-left: -35px;
	text-align: center;
}

.progress__circle--1:after {
	content: 'Property';
}

.progress__circle--2 {
	left: 33.33%;
}

.progress__circle--2:after {
	content: 'Mortgage';
}

.progress__circle--3 {
	left: 66.66%;
}

.progress__circle--3:after {
	content: 'Your Info';
}

.progress__circle--4 {
	left: calc(100% - 18px);
}

.progress__circle--4:after {
	content: 'RESULTS';
}