/*TEMP need to set up sass*/

/*PROGRESS BAR*/
.progress {
	position: relative;
	width: 100%;
	background-color: lightgray;
}

.progress__bar {
	height: 10px;
	background-color: gray;
}

.progress__circle {
	position: absolute;
	top: -4.5px;
	width: 18px;
	height: 18px;
	background-color: gray;
	border-radius: 50%;
}

.progress__circle--2 {
	left: 33.33%;
}

.progress__circle--3 {
	left: 66.66%;
}

.progress__circle--4 {
	left: calc(100% - 18px);
}