.rates-app-ctas {
	text-align: center;

	.rates-app-inner-container {
		border-bottom: 1px solid $rule-green;
	}
}

@include breakpoint($medium) {
	.rates-app-ctas {
		.rates-app-inner-container {
			padding: rem($pad * 5) 0; 
		}
		
		.rates-app__btn {
			&:first-child {
				margin-right: rem($pad * 2);
			}
		}
	}
}