.rates-app-ctas {
	text-align: center;

	.rates-app__btn {
		&:first-child {
			margin-bottom: rem($pad * 1.5);
		}
	}
}

@include breakpoint($medium) {
	.rates-app__btn {
		&:first-child {
			margin-bottom: rem(25);
		}
	}
}

@include breakpoint($large) {
	.rates-app-ctas {
		.rates-app__btn {
			&:first-child {
				margin-bottom: 0;
				margin-right: rem($pad * 2);
			}
		}
	}
}