.rates-app-intro {
	text-align: center;

	&__header, &__subheader {
		line-height: 1;
	}

	&__header {
		margin-bottom: rem($pad * 2);
	}

	&__subheader {
		margin-bottom: rem($pad * 2.5);
	}
}

@include breakpoint($medium) {
	.rates-app-intro {
		&__header {
			margin-bottom: rem(40);
		}

		&__subheader {
			margin-bottom: rem(50);
		}
	}
}

@include breakpoint($large) {
	.rates-app-intro {
		&__header {
			margin-bottom: rem(20);
		}

		&__subheader {
			margin-bottom: rem(34);
		}

		&__fact {
			display: inline-block;
			margin-bottom: 0;
			padding-right: rem($pad * 4);

			&:before {
				content: url('../images/icon-checkmark.svg');
				padding-right: 12px;
			}
		}
	}
}